.header {
  width: 100%;
  background: blue;
  color: white;
  height: 20px;
  padding: 15px;
}

.logo {
  float: left;
  margin-left: 30px;
}

.menu {
  float: right;
  margin-right: 30px;
}
.menu-item {
  float: left;
  margin: 0px 30px 0px 0px;
}
